<%= stylesheet_link_tag "index.css" %>

<h1>Articles</h1>

<div class="allCard">
  <% Article.all.each do |article| %>

    <div class="card">
      <div class="image">
        <img src="../assets/CoucherDeSoleil.png" alt="Avatar" style="width:100%">
      </div>
      <div class="container">
        <p class="title"><%= article.title %></p>
        <p class="bro">Créer par
          <%= article.bro %></p>
        <button class="btn">
          <a href="<%= article_path(article.id) %>" class="button">Lire la suite</a>
        </button>
      </div>
    </div>
  <% end %>
</div>

<button class="btn">
  <a href="<%= new_article_path(@article) %>" class="button">Crée un nouvelle article</a>
</button>
