<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="navbar">
      <a class="navbar"<%= link_to "Home", root_path %>></a>
      <a class="navbar"<%= link_to "Articles", articles_url %>></a>
    </div>

    <%= yield %>
  </body>
</html>
